@charset "utf-8";
body{background-color: #000;}
@-webkit-keyframes  fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes  fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@-webkit-keyframes  fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes  fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}
.music{width: 1.5rem; height: 1.5rem; background: url("../img/music-pause.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; position: fixed; right: 6%; top: 5vw; z-index: 1000; transform: rotate(0deg); }
/*.music span{height: 100%; width: 0.1rem; background-color: rgba(255,255,255,0.7); position: absolute;top: 0; left: 0.7rem;transform: rotate(45deg); }*/
.music.play{ background: url("../img/music-icon.png") no-repeat center center; -webkit-background-size: contain; background-size: contain; -webkit-animation: rotate 2s linear 0s infinite; -o-animation: rotate 2s linear 0s infinite; animation: rotate 2s linear 0s infinite;}
/*.music.play span{display: none;}*/
@-webkit-keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
#page0{height: 100%; bottom: 0; right: 0;}
.page0-pic{ position: absolute; top: 29%; width: 58.6%; left: 20.7%;}
.smell{width: 25.6vw; height: 0; background: url("../img/pic-smell.png") no-repeat center bottom; -webkit-background-size: 100% auto; background-size: 100% auto; position: absolute; left: 50%; margin-left: -12.8vw; bottom: 50.5vw; animation: smellMove 2s linear 0s infinite;}
@-webkit-keyframes smellMove {
    from{height: 0;}
    to{height: 19.2vw;}
}
#page0 img{}
.progress{font-size: 1.2rem; text-align: center; font-weight: bold; color: #fff;  position: absolute; width: 100%; top: 29%; margin-top: 56vw;}
.word{position: absolute; height: 3.75vw; width: auto; opacity: 0;}
.word img{width: auto; height: 100%;}
.wordB{position: absolute; height: 5.31vw; width: auto; opacity: 0;}
.word-inner{position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0;}
.word.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}
.word.show2 .word-inner{animation: fadeIn 1.2s linear 0.7s 1 forwards;}
.word.show2 .word-inner2{animation: fadeIn 1.2s linear 1.1s 1 forwards;}

.word0{height: 9.7vw; left: 12%; top: 13.8vw;}
.word0.show1{animation: fadeIn 1.2s linear 0.3s 1 forwards;}
.word1{left: 20%; top: 70.8vw;}
.word1.show1{animation: fadeIn 1.2s linear 0.8s 1 forwards;}
.word1.show1 .word-inner{animation: fadeIn 1.2s linear 1.2s 1 forwards;}
.word1.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}
.word1.show2 .word-inner{animation: fadeIn 1.2s linear 0.7s 1 forwards;}
.word2{left: 64%; top: 70.8vw;}
.word2.show1{animation: fadeIn 1.2s linear 1.8s 1 forwards;}
.word2.show1 .word-inner{animation: fadeIn 1.2s linear 2.2s 1 forwards;}
.word2.show2{animation: fadeIn 1.2s linear 0.9s 1 forwards;}
.word2.show2 .word-inner{animation: fadeIn 1.2s linear 1.3s 1 forwards;}
.word3{left: 42%; top: 121.4vw;}
.word3.show1{animation: fadeIn 1.2s linear 2.8s 1 forwards;}
.word3.show1 .word-inner{animation: fadeIn 1.2s linear 3.2s 1 forwards;}


.word4{left: 41%; top: 237.5vw;}
/*.word4.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word5{left: 43%; top: 347.6vw;}
/*.word5.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word6{left: 35%; top: 410vw;}
/*.word6.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word7{left: 37%; top: 467vw;}
/*.word7.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word8{left: 31%; top: 522.4vw;}
/*.word8.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word9{left: 72.5%; top: 565vw;}
/*.word9.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word10{left: 38%; top: 682vw;}
/*.word10.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word11{left: 38%; top: 825.2vw;}
/*.word11.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word12{left: 42%; top: 879vw;}
/*.word12.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word13{left: 38%; top: 970.6vw;}
/*.word13.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word14{left: 40%; top: 1044vw;}
/*.word14.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word15{left: 29%; top: 1111.1vw;}
/*.word15.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word16{left: 41%; top: 1182vw;}
/*.word16.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word17{left: 33%; top: 1252.6vw;}
/*.word17.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word18{left: 14%; top: 1315.3vw;}
/*.word18.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word19{height: 6vw; left: 8%; top: 1380.5vw;}
/*.word19.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/
.word20{ width: 82.8%; height: auto; left: 8.6%; top: 1402vw;}
/*.word20.show2{animation: fadeIn 1.2s linear 0.3s 1 forwards;}*/








/*==横屏==*/
@-webkit-keyframes rotation {
    10% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    100% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
}

@keyframes rotation {
    10% {transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    50%, 60% {transform: rotate(0deg); -webkit-transform: rotate(0deg)}
    90% { transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
    100% {transform: rotate(-90deg); -webkit-transform: rotate(-90deg) }
}

#orientLayer { display: none }
@media screen and (min-aspect-ratio: 12/9) {
    #orientLayer { display: block }
}
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 9997 }
.mod-orient-layer__content { position: absolute; width: 100%; top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer__icon-orient { background-image: url('../img/crossWarning.png'); display: inline-block; width: 67px; height: 109px; transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); -webkit-animation: rotation infinite 1.5s ease-in-out; animation: rotation infinite 1.5s ease-in-out;
    -webkit-background-size: 67px; background-size: 67px }
.mod-orient-layer__desc { margin-top: 20px; font-size: 15px; color: #fff }





